aiohttp
aiosignal
altair==4.2.2
annotated-types==0.6.0
anyio==3.7.1
appdirs
appnope
asttokens
async-timeout
attrs
awscli==1.29.73
backcall
backports.functools-lru-cache
beautifulsoup4==4.12.2
blinker
boto3==1.28.73
botocore==1.31.73
Brotli
cachetools
certifi==2023.7.22
charset-normalizer
click
cmdkit==2.7.3
colorama==0.4.4
comm
cycler
dataclasses-json==0.6.1
datarobot==3.2.1
datarobot-mlops==9.1.3
datarobot-mlops-connected-client==9.1.3
datarobotx==0.1.18
decorator
docker-pycreds==0.4.0
docutils==0.16
docx2txt==0.8
entrypoints==0.4
et-xmlfile
exceptiongroup
executing
faiss-cpu==1.7.4
Faker==19.12.0
favicon==0.7.0
filelock==3.13.0
fonttools
frozenlist
fsspec==2023.10.0
gitdb
GitPython
greenlet==3.0.1
htbuilder==0.6.2
huggingface-hub==0.17.3
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
jmespath==1.0.1
joblib
jsonpatch==1.33
jsonpointer==2.4
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
langchain==0.0.325
langsmith==0.0.53
lxml
Markdown==3.5
markdown-it-py
markdownlit==0.0.7
MarkupSafe
marshmallow==3.20.1
matplotlib
matplotlib-inline
mdurl
more-itertools==10.1.0
multidict
munkres==1.1.4
mypy-extensions==1.0.0
names-generator==0.1.0
nltk==3.8.1
numpy
openai
openpyxl
orjson==3.9.10
packaging
pandas==1.5.3
pandas-stubs
parso
pathtools==0.1.2
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
plotly
pooch
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
py-readability-metrics==1.4.5
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.5.0
PyAudio==0.2.11
pydantic==2.4.2
pydantic_core==2.10.1
pydeck
pydub==0.25.1
Pygments
pymdown-extensions==10.3.1
pyparsing
PyPDF2
PySocks
pyspark==3.3.1
python-dateutil==2.8.2
python-docx
python-dotenv
pytz
PyYAML==6.0.1
pyzmq
referencing
regex==2023.10.3
requests
requests-toolbelt==1.0.0
rich
rpds-py
rsa==4.7.2
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn
scipy
sentry-sdk
setproctitle
six==1.16.0
smmap
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.22
st-annotated-text==4.0.1
stack-data
streamlit
streamlit-audiorec==0.1.3
streamlit-audiorecorder==0.0.4
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.4
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
StrEnum==0.4.15
tenacity
termcolor==2.3.0
threadpoolctl
tokenizers==0.14.1
toml
toolz
tornado
tqdm
trafaret==2.1.1
traitlets
transformers==4.34.1
typing-inspect==0.9.0
typing_extensions
tzlocal
unicodedata2
urllib3==1.26.18
validators
wandb
watchdog
wcwidth
widgetsnbextension
yarl
zipp
